


:root{
    --purple : #9D4AFC;
    --hover-purple: #7b0ff7;

    --backgorund: #f5f5f5;
    --input: #FFFFFF;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}


/*** Login **/
.container {
    font-family: 'Lato';
    font-style: normal;
    height: 100%;
    width: 100%;
    background-color: var(--backgorund);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around; 
}

#Pages-title{
    font-size: 24px;
    font-weight: 900;   
}

.login-input{
    background-color: var(--input);
    display: flex;
    flex-direction: column;
    padding: 4% 6%;
    border-radius: 5px;
    font-size: 14px;
    width: 300px;
}

.label_form{
    color: hsla(0, 0%, 30%, 0.349);
    font-size: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-form input {
    margin: 0;
    width: auto;
    border-radius: 8px;
     border: none;
    font-size: 18px;
    text-align: center;
    text-align: start;
}

.login-form button {
    width: 340px;
    height: 55px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.login-form button:hover {
    background-color: var(--hover-purple)  
}

/* login fim */
/* registro */

.record-people button {
    width: 340px;
    height: 55px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.record-people button:hover {
    background-color: var(--hover-purple)  
}

