@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
    --purple : #9D4AFC;
    --hover-purple: #7b0ff7;
    --backgorund: #f5f5f5;
    --white: #FFFFFF;
    --label-color:hsla(0, 0%, 30%, 0.349);
    --center-button:white;

    --text-color: #292A37;
    --text-input: #AFADB7;
    --text-information-color: #6B6973;

    --background-red: #F9D6D6;
    --background-blue: #B9E3E7;
    --background-purple: #E4CCFF;
    --background-orage: #FED9A4;
    --background-green: #D6F9C8;

    --text-red: #D84F4E;
    --text-blue: #1D747B;
    --text-orage: #9B5C00;
    --text-green: #316C1D;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
    font-family: 'Lato', sans-serif;
    background-color: var(--backgorund);

    min-height: 100vh;
}

/************************** COMOON ************************/


.container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;

    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.14);
}

.title{
    font-size: 1.5rem;
    font-weight: 900;
    color : var(--text-color);
    margin: 0;
}

.subtitle{
    font-size: 1rem;
    color : var(--text-color)

}

.thin-subtitle{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-input);
}

.button-purple {
    width: 82%;
    height: 55px;
    background-color: var(--purple);
    color: var(--center-button);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-purple a {
   text-decoration: none;
   color : var(--white);
}

.button-purple:hover {
    background-color: var(--hover-purple)  ;
}

.footer-register{
    font-weight: 600;
}
.footer-register a{
    text-decoration: none;
    color: var(--purple);
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    height: 100%;
    width: 100%;
    max-width: 450px;

    background-color: var(--white);
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 0;
    box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.1);

}



/************************** Login **************************/


.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login-form-input{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 4% 6%;
    border-radius: 5px;
    font-size: 14px;
    width: 70%;
}

.login-form-input input {
    margin: 0;
    width: auto;
    border-radius: 8px;
    border: none;
    text-align: start;
}

.login-form-input label{
    color: var(--purple);
    font-size: 0.8rem;
}


/*************************** end login ********************************/

/*************************** register ********************************/

.register-header{
    margin-top: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    gap: 20px;

}


.register-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    width: 100%;

}

.register-options .subtitle{
    font-weight: 600;
    width: 80%;
}
/********************** end register ************************/


/********************** register PF ************************/

.register-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.register-form-input{
    display: flex;
    flex-direction: column;
    width: 42%;
    margin-bottom: 5%;
    
}

.register-form-input input{
    height: 35px;
    border: none;
    text-decoration: none;
    width: calc(100% - 12%);
    border-radius: 5px;
    padding: 0 6%;
    font-size: 0.8rem;
    color: var(--text-input);
}

.register-form-input .title{
    font-size: 0.9rem;
}

.input-large{
    width: 85%;
}

.input-high input{
    height:  68px;
}
/********************** end register PF ************************/


/**********************  register ONG ************************/
.register-form-vakinha {
    width: 85%;
}

.register-form-vakinha label{
    font-size: 0.9rem;
}

.label-subtitle{
    font-size: 0.7rem;
    color: var(--text-input);
}
/********************** end register ONG ************************/





/********************** register created ***********************/

.register-ok-circle{
    width: 90%;
    height: 43%;
    background-color: var(--white);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-ok-circle .title{
    color: var(--purple);
    margin: 0;
}

.register-ok-circle .subtitle{
    font-weight: 600;
}
/********************** end register created ***********************/


/*********************** feed **************************************/
.feed-main{
    width: 100%;
    max-width: 415px;

    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.feed{
    display: flex;
    flex-direction: column;

}
.feed-header {
    width: 100%;
    height: 139px;

    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
}


.feed-header-filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    gap: 2%;
    
}

.feed-header-filters .subtitle{
    font-weight: 600;

}

.feed-header-filters-button{
    border: 0;
    width: 18%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;

    border-radius: 10px;
    padding: 1% 2%;

}

.feed-header-filters-button img{
    width: 30%;
}

.feed-header-filters-search{
    width: 50%;
    height: 100%;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 2%;
    gap: 4%;
    box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.1);
}

.feed-header-filters-search input{
    border: none;
    padding: 0 2%;
    width: 100%;

}

.dog{
    color:var(--text-red);
    background-color: var(--background-red);
}

.cat{
    color:var(--text-blue);
    background-color: var(--background-blue);
}

.feed-card{
    width: 145px;
    height: 185px;
    border-radius: 12px;
    overflow: hidden;
}

.feed-card-img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

.feed-card:nth-child(odd) .feed-card-img {
    background-image: url('../src/dog-luke.png');
}

.feed-card:nth-child(even) .feed-card-img {
    background-image: url('../src/cat-leia.png');
}

.feed-card-info{
    gap: 16%;
    background-color: var(--white);
    width: calc(100% - 10%);
    height: calc(40% - 10%); 
    padding: 5%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.feed-card-info .title{
    margin: 0;
    font-size: 1rem;
}

.feed-card-info .thin-subtitle{
    margin: 0;
    font-size: 0.6rem;
}

.feed-card-info-animal{
    width: 66%;
    height: 26%;
    background-color: var(--background-purple);
    color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 0.8rem;
}

.feed-card-info-animal .title{
    font-size: 0.8em;
    color: var(--purple);
}


.feed-footer{
    width: 100%;
    height: 45px;
    background-color: var(--white);

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.1);

    position: fixed;
    bottom: 0;
}

.feed-footer img{
    cursor: pointer;
}
/*********************** end feed **********************************/


/************************ post datails *****************************/
.post-details{
    height: 100vh;
}

.post-details-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: calc(100% - 40px) ;
    padding: 0 20px;
    height: 50px;

    position: absolute;
    top: 20px;
}

.post-details-header img{
    width: 8%;
}

.post-details-card  {
    width: 100%;
    height: 100%;
    border-radius: 15px ;
}

.post-details-card-img{
    background-image: url('../src/dog-luke.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}



.post-details-card-info{
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--backgorund);
    border-radius: 25px 25px 0 0;
    margin-top: -25px;
   
}

.post-details-card-info-header{
    width: calc(100%  - 50px);
    display: flex;
    flex-wrap: wrap;

    padding: 25px;
    padding-bottom: 0;
}

.post-details-card-info-header .title{
    width: 100%;
}

.post-details-card-info-header :nth-child(4){
    color: var(--text-input);
    font-weight: 600;
    font-size: 1.2rem;
    width: 10%;
    margin: 2% 0%;
}

.post-details-card-info-header :nth-child(2){
    width: 10%;
    color: var(--text-input);
    font-weight: 600;
    font-size: 1.2rem;
    width: 80%;
    margin: 2% 0%;
}
.post-details-card-info-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px 25px;
    height: 132px;
    padding: 10px 25px 0px 25px;
    padding-bottom: 0;
}


.animal-tag{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 5px;
    background-color: red;
    height: 10%;
    padding: 3% 4%;
    

}

.animal-color{
    background-color: var(--background-purple);
    color: var(--purple);

}
.animal-vaccine{
    background-color: var(--background-orage);
    color: var(--text-orage);

}
.animal-health{
    background-color: var(--background-green);
    color: var(--text-green);
}
.animal-castrated{
    background-color: var(--background-blue);
    color: var(--text-blue);

}

.animal-size{
    background-color: var(--background-red);
    color: var(--text-red);
}

.post-details-card-info-resume{
    padding: 25px;
    padding-bottom: 0;
    margin-bottom: 50px;
}

.post-details-card-info-resume .title{
    font-size: 1.2rem;
}

.post-details-card-info-resume .subtitle{
    color: var(--text-information-color);
}



.post-details-footer-user-information{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.icon-user{
    object-fit: contain;
    width: 35%;
    aspect-ratio: 3/2;
}

.post-details-footer-user-actions{
    display: flex;
    gap: 5px;

}

.post-details-footer-user-information .title{
    font-size: 1rem;

}


/************************ end post datails ***********************/


/********************* edit info ******************************/
.edit_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

/***************************************** Create Post *********************************************/
#create-post .container{
    gap: 0;
    justify-content: center;
}

.checkbox-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 85%;
    flex-wrap: wrap;
}

.create-edit-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;

    width: 85%;
    height: 98px
}

.create-edit-header h1{
    width: 90%;
}

.register-form #animal-info{
    font-weight: 900;
    width: 85%;
}

.register-form #info-health{
    font-weight: 900;
    width: 85%;
}

.register-form #more-info{
    font-weight: 900;
    width: 85%;
    margin-top: 41px;
}


/************************ user pf **************************** **/
.user-header{
    background-color:var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 190px;
    gap: 2%;
}
.user-header-title{
    display: flex;
    align-items: center;
}

.user-header-buttons{
    width: 80%;
    height: 20%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 2%;
    gap: 3%;
    box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.1);
}
.user-header-buttons-button{
    background-color: var(--background-purple);
    border: 0;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

/************************** user ONG *********************/

.user-header-buttons-button-donate{
    display: flex;
    border: 0;
    gap: 10%;
    width: 60%;
    height: 90%;
   
    align-items: center;
    border-radius: 10px;
    color: var(--text-green);
    background-color:var(--background-green);
}


/*********************** end feed **********************************/


@media (min-width: 420px){


    .post-details-header{
        width:calc(420px - 40px);
    }

    .feed-main{

        gap: 6px 12px;

    }

    .feed-card {
        width: 174px;
        height: 214px;
        border-radius: 12px;
        overflow: hidden;
    }

}
 
@media (max-width: 296px){

    .container{
        gap:50px;

    }

    .post-details-header{
        width:calc(420px - 40px);
    }

    .feed-card {
        width: 210px;
        height: 277px;
        border-radius: 12px;
        overflow: hidden;
    }

    .feed-header-filters {
        flex-wrap: wrap;
        gap: 25% 5%;
    }

    .feed-header-filters-search{
        width: 80%;
    }

    .feed-header-filters-button{
        width: 29%;
    }

}
 